absl-py
asttokens
astunparse
attrs
certifi
charset-normalizer
clearml
comm
contourpy
cuda-bindings
cuda-pathfinder
cycler
debugpy
decorator
executing
filelock
flatbuffers
fonttools
fsspec
furl
gast
google-pasta
grpcio
h5py
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
libclang
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml_dtypes
mpmath
namex
nest-asyncio
networkx
numpy
opt_einsum
optree
orderedmultidict
packaging
pandas
parso
pathlib2
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
Pygments
PyJWT
pyparsing
python-dateutil
PyYAML
pyzmq
referencing
requests
rich
rpds-py
scikit-learn
scipy
setuptools
six
stack-data
sympy
torch
torchvision
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
wheel
wrapt